*{
	margin: 0;
	padding: 0;
	list-style: none;
}

.wrapper li{
	display: block;
	width: 100px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border: solid 1px rgba(1,1,1,0.15);
}
.wrapper ul{
	position: absolute;
}
.fir-wrapper ul{
	left: 0;
	top: 0;
	z-index: 1;
	background-color: rgba(1,1,1,0.15);
}
.sec-wrapper ul{
	left: 100px;
	top: 50px;
	z-index: 2;
	background-color: rgba(1,1,1,0.15);
}
.tir-wrapper ul{
	left: 200px;
	top: 100px;
	z-index: 3;
	background-color: rgba(1,1,1,0.15);
}
